@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Shadows+Into+Light&display=swap');


/* blog section strats here  */
.section {
  padding: 40px 20px;
}

.subtitle {
  font-family: "Covered By Your Grace", cursive;
  color:#f2c94c;
  font-weight: 200;
  font-size: 22px;
  text-align: center;
  padding-top: 70px;
}

.title {
  text-align: center;
  font-weight:bold;
  padding-bottom: 50px;
  font-size: 35px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card img{
  width: 200px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.profile-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.card-info {
  text-align: center;
  background: #FFFFFF;
  padding:15px 25px;
  border-radius: 10px;
  align-items: center;
  top: -60px;
  gap: 10px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-left: 100px;
  padding-bottom: 30px;
}

.card-info h3 {
  margin: 0;
  font-size: 12px;
}

.card-info p {
  margin: 0;
  font-size: 10px;
  color: gray;
  float: right;
}
.share-icon img{
  width: 15%;
  margin-top: -91px;
  margin-left: 80px;
  z-index: 2;
  position: relative;
  background-color: #4BAF47;
  padding: 1px;
  margin-bottom: 0px;
  border-radius: 10px;
  cursor: pointer;
}
.icon-overlay img{
  width: 20%;
  position: relative;
}

.g-cards{
  gap: 10px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 16px; 
}
.g-cards img{
  width: 153px;
  height: auto;
  border-radius: 8px;
  display: block;
}


 /* blog section ends here  */

/* responsiveness code  */

@media (min-width: 350px) and (max-width: 815px) {

  .blog{
    align-items: center;
  }
  .blog h4 {
    font-size: 18px;
    margin-top: 40px;
  }

  .blog h2 {
    font-size: 28px;
    margin-top: -20px;
  }
  .card-info h3, p{
    max-width: 100%;
  }
  .card-info{
    text-align: right;
    align-items: center;
    margin-left: 40px;
    margin-right: 20px;
    padding-left: 0;
  }
  .card{
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .share-icon img{
    margin-left: 20px;
  }
  .section{
    margin-top: 0px;
    padding-top: 0px;
  }
  .subtitle{
    margin-top: 0px;
  }
}



@media (min-width:350px) and (max-width: 1200px) {
  .g-cards img {
    width: calc(33.333% - 10.66px); 
  }
}
@media  (min-width:350px) and  (max-width: 800px) {
  .g-cards img {
    width: calc(50% - 8px); 
  }
}
@media (max-width: 500px) {
  .g-cards img {
    width: 100%;
  }
}